@font-face {
  font-family: 'Yellowtail';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/OZpGg_pnoDtINPfRIlLohlvHwQ.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* line 1, ../sass/partials/_modules.scss */
* {
  box-sizing: border-box;
}

/* line 5, ../sass/partials/_modules.scss */
.about-s1 {
  background-image: url("../img/bg/index-s1__bg.jpg");
  background-position: center;
  background-size: cover;
}
/* line 8, ../sass/partials/_modules.scss */
.about-s2 {
  background-image: url("../img/bg/index-s2__bg.jpg");
  background-position: center;
  background-size: cover;
}
/* line 11, ../sass/partials/_modules.scss */
.about-s3 {
  background-image: url("../img/bg/about-s3__bg.jpg");
  background-position: center;
  background-size: cover;
}

/* line 16, ../sass/partials/_modules.scss */
.bg-black {
  background-color: #141213;
}

/* line 21, ../sass/partials/_modules.scss */
.contact-s1 {
  background-image: url("../img/bg/index-s1__bg.jpg");
  background-position: center;
  background-size: cover;
}
/* line 24, ../sass/partials/_modules.scss */
.contact-s2 {
  background-image: url("../img/bg/index-s4__bg.jpg");
  background-position: center;
  background-size: cover;
}

/* line 29, ../sass/partials/_modules.scss */
.font-logo {
  font-family: "Yellowtail" !important;
  text-shadow: 1px 1px 3px #141213;
}

/* line 35, ../sass/partials/_modules.scss */
.index-s1 {
  background-image: url("../img/bg/index-s1__bg.jpg");
  background-position: center;
  background-size: cover;
}
/* line 38, ../sass/partials/_modules.scss */
.index-s2 {
  background-image: url("../img/bg/index-s2__bg.jpg");
  background-position: center;
  background-size: cover;
}
/* line 41, ../sass/partials/_modules.scss */
.index-s3 {
  background-image: url("../img/bg/index-s3__bg.jpg");
  background-position: center;
  background-size: cover;
}
/* line 44, ../sass/partials/_modules.scss */
.index-s4 {
  background-image: url("../img/bg/index-s4__bg.jpg");
  background-position: center;
  background-size: cover;
}

/* line 49, ../sass/partials/_modules.scss */
.minh-25vh {
  min-height: 25vh;
}
/* line 52, ../sass/partials/_modules.scss */
.minh-50vh {
  min-height: 50vh;
}
/* line 55, ../sass/partials/_modules.scss */
.minh-75vh {
  min-height: 75vh;
}
/* line 58, ../sass/partials/_modules.scss */
.minh-100vh {
  min-height: 100vh;
}

/* line 63, ../sass/partials/_modules.scss */
.opacity-8 {
  opacity: 0.8;
}

/* line 68, ../sass/partials/_modules.scss */
.workshops-s1 {
  background-image: url("../img/bg/index-s1__bg.jpg");
  background-position: center;
  background-size: cover;
}
/* line 71, ../sass/partials/_modules.scss */
.workshops-s2 {
  background-image: url("../img/bg/workshops-s2__bg.jpg");
  background-position: center;
  background-size: cover;
}
/* line 74, ../sass/partials/_modules.scss */
.workshops-s3 {
  background-image: url("../img/bg/workshops-s3__bg.jpg");
  background-position: center;
  background-size: cover;
}
/* line 77, ../sass/partials/_modules.scss */
.workshops-s4 {
  background-image: url("../img/bg/index-s4__bg.jpg");
  background-position: center;
  background-size: cover;
}

@media all and (min-width: 768px) {
  /* line 84, ../sass/partials/_modules.scss */
  .contact-s2 {
    background-image: url("../img/bg/contact-s2__bg--md.jpg");
    background-position: center;
    background-size: cover;
  }

  /* line 89, ../sass/partials/_modules.scss */
  .index-s3 {
    background-image: url("../img/bg/index-s3__bg--md.jpg");
    background-position: center;
    background-size: cover;
  }

  /* line 94, ../sass/partials/_modules.scss */
  .minh-md-25vh {
    min-height: 25vh;
  }
  /* line 97, ../sass/partials/_modules.scss */
  .minh-md-50vh {
    min-height: 50vh;
  }
  /* line 100, ../sass/partials/_modules.scss */
  .minh-md-75vh {
    min-height: 75vh;
  }
  /* line 103, ../sass/partials/_modules.scss */
  .minh-md-100vh {
    min-height: 100vh;
  }
}
