$color-black: #141213;
$font-logo: "Yellowtail";

$about-s1__bg-img: "../img/bg/index-s1__bg.jpg";
$about-s2__bg-img: "../img/bg/index-s2__bg.jpg";
$about-s3__bg-img: "../img/bg/about-s3__bg.jpg";

$contact-s1__bg-img: "../img/bg/index-s1__bg.jpg";
$contact-s2__bg-img: "../img/bg/index-s4__bg.jpg";
$contact-s2__bg-img--md: "../img/bg/contact-s2__bg--md.jpg";

$index-s1__bg-img: "../img/bg/index-s1__bg.jpg";
$index-s2__bg-img: "../img/bg/index-s2__bg.jpg";
$index-s3__bg-img: "../img/bg/index-s3__bg.jpg";
$index-s3__bg-img--md: "../img/bg/index-s3__bg--md.jpg";
$index-s4__bg-img: "../img/bg/index-s4__bg.jpg";

$workshops-s1__bg-img: "../img/bg/index-s1__bg.jpg";
$workshops-s2__bg-img: "../img/bg/workshops-s2__bg.jpg";
$workshops-s3__bg-img: "../img/bg/workshops-s3__bg.jpg";

$text-shadow: 1px 1px 3px $color-black;